a {
  color: dodgerblue;
}

a:hover {
  color: deeppink;
}

#suggest {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #CCCCFF;
  width: 252px;
}

#suggest div {
  padding: 1px;
  display: block;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
}

#suggest div.select{
  color: #FFFFFF;
  background-color: #3366FF;
}

#suggest div.over{
  background-color: #99CCFF;
}

#sequence {
  width: 100%;
  background-color: #fff;
  margin-bottom: 5px;
}

#code {
  width: 99%;
  height: 200px;
  padding: 5px;
  background-color: aliceblue;
  margin-top: 2px;
  margin-bottom: 2px;
}

#code_out {
  width: 99%;
  height: 800px;
  padding: 5px;
  margin-top: 2px;
  border: solid 1px whitesmoke;
  background-color: ghostwhite; 
  border-radius: 4px;        /* CSS3草案 */  
  -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 4px;   /* Firefox用 */  
}

#name, #message {
  background-color: aliceblue;
  padding: 12px 4px;
  margin: 1px;
}

#form {
  margin: 2px 0px 6px 0px;
}

#chat_body{
  height: 1000px;
  padding: 4px 2px;
  overflow-y: auto;
  border: solid 1px whitesmoke;
  background-color: ghostwhite; 
  border-radius: 4px;        /* CSS3草案 */  
  -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 4px;   /* Firefox用 */  
}

#list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

#list li{
  color: #555;
  line-height: 21px;
  margin: 2px 5px;
  padding: 0px;
}

#login_list {
  width: 100%;
  height: 24px;
  font-size: 11px;
  margin-top: 5px;
}

.login-name , .login-name-pomo , .login-name-system, .login-name-ext, .login-name-pomosys, .login-name0, .login-name1, .login-name2, .login-name3, .login-name4, .login-name5, .login-name6, .login-name7, .login-name8, .login-name9{
  font-weight: bold;
  border: solid 1px lightgray;
  padding: 2px 4px;
  margin: 1px;
  border-radius: 4px;        /* CSS3草案 */  
  -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 4px;   /* Firefox用 */  
  color: dimgray;
}

.login-name{
  background: -webkit-gradient(linear, left top, left bottom, from(aliceblue), to(lightsteelblue));
  background: -moz-linear-gradient(top, aliceblue,lightsteelblue);
}

.login-name0{
  background: -webkit-gradient(linear, left top, left bottom, from(aliceblue), to(lightsteelblue));
  background: -moz-linear-gradient(top, aliceblue,lightsteelblue);
}

.login-name1{
  background: -webkit-gradient(linear, left top, left bottom, from(ghostwhite), to(mediumaquamarine));
  background: -moz-linear-gradient(top, ghostwhite,mediumaquamarine);
}

.login-name2{
  background: -webkit-gradient(linear, left top, left bottom, from(ghostwhite), to(palegoldenrod));
  background: -moz-linear-gradient(top, ghostwhite,palegoldenrod);
}

.login-name3{
  background: -webkit-gradient(linear, left top, left bottom, from(ghostwhite), to(darkturquoise));
  background: -moz-linear-gradient(top, ghostwhite,darkturquoise);
}

.login-name4{
  background: -webkit-gradient(linear, left top, left bottom, from(ghostwhite), to(burlywood));
  background: -moz-linear-gradient(top, ghostwhite,burlywood);
}

.login-name5{
  background: -webkit-gradient(linear, left top, left bottom, from(ghostwhite), to(khaki));
  background: -moz-linear-gradient(top, ghostwhite,khaki);
}

.login-name6{
  background: -webkit-gradient(linear, left top, left bottom, from(ghostwhite), to(lightcoral));
  background: -moz-linear-gradient(top, ghostwhite,lightcoral);
}

.login-name7{
  background: -webkit-gradient(linear, left top, left bottom, from(ghostwhite), to(lightskyblue));
  background: -moz-linear-gradient(top, ghostwhite,lightskyblue);
}

.login-name8{
  background: -webkit-gradient(linear, left top, left bottom, from(ghostwhite), to(peachpuff));
  background: -moz-linear-gradient(top, ghostwhite,peachpuff);
}

.login-name9{
  background: -webkit-gradient(linear, left top, left bottom, from(ghostwhite), to(plum));
  background: -moz-linear-gradient(top, ghostwhite,plum);
}

.login-name-pomo{
  background: -webkit-gradient(linear, left top, left bottom, from(antiquewhite), to(tomato));
  background: -moz-linear-gradient(top, antiquewhite,tomato);
}

.login-name-pomosys{
  color: #baa;
  background: -webkit-gradient(linear, left top, left bottom, from(snow), to(mistyrose));
  background: -moz-linear-gradient(top, snow,mistyrose);
}

.login-name-system{
  color: #baa;
  background: -webkit-gradient(linear, left top, left bottom, from(ghostwhite), to(gainsboro));
  background: -moz-linear-gradient(top, ghostwhite,gainsboro);
}

.login-name-ext{
  color: #baa;
  background: -webkit-gradient(linear, left top, left bottom, from(honeydew), to(lightgreen));
  background: -moz-linear-gradient(top, honeydew,lightgreen);
}

.pomo-min{
  color: mintcream;
}

#text_writer {
  display: none;
}

footer {
  background: #fff;
  width: 100%;
  margin-top: 4px;
  padding: 20px 0;
  text-align: right;
  border-top: 1px solid #DDD;
}

footer span {
  display: block;
  margin-right: 30px;
  color: #888;
  font-size: 12px;
}

