#content {
  padding: 10px;
}

li {
  list-style:none;
}

.container{
  display: flex;
}
.left{
  width: 100px;
}

.contents1{
  flex: 1;
  margin: 0px 5px;
}

.contents2{
  flex: 1.75;
  margin-left: 10px;
}

.hide {
  display: none;
}

.chat-comment-date {
  font-size: 12px !important;
  float: right;
  color: gray;
}

.comment-table {
  width: 100%;
}

.comment-author {
  margin-right: 10px;
}

.avatar-td {
  width: 46px;
  vertical-align: top;
}
