body {
  background: #ddd;
  padding: 0;
  margin: 0;
}

#content {
  background: white;
  padding: 50px;
  width: 600px;
  margin: auto;
}

.comment {
  border: 1px #ddd solid;
  padding: 20px;
}
.comment .author {
  font-weight: bold;
}
.comment .body {
  padding-top: 5px;
}

.commentForm {
  margin-top: 20px;
}
.commentForm input,
.commentForm textarea {
  width: 100%;
  margin-bottom: 5px;
  border: 1px #ddd solid;
  padding: 5px;
}
