#content {
  padding: 10px;
}

li {
  list-style:none;
}

.container{
  display: flex;
}
.left{
  width: 150px;
}

.contents{
  flex: 1;
}

.hide {
  display: none;
}

.comment-author {
  margin-right: 10px;
}
