<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DevHub</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta name="description" content="DevHub">
    <meta name="author" content="Naoki Kodama">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/javascripts/blog_bundle.js"></script>

    <link href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/blog.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body style="
    background-attachment: fixed;
    background-position: center top;
    background-repeat:  repeat;
    padding-top: 60px;">

    <div id="loading">
      <img src="img/blog_loader.gif" >
    </div>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">DevHub - <span id="blog_count">

            <span class="count" data-bind="text: item_count"></span><span class="unit"> blogs.</span>
          </span></a>
          <div id="blog_navi">
            <ul class="nav pull-right">
              <li><a href="#tags_modal" rel="tooltip" title="Tags" data-toggle="modal" href="#"><i class="icon-white icon-tags"></i></a></li>
              <li><a id="scroll_top" href="#" data-bind="click: moveTop"><i class="icon-white icon-arrow-up"></i></a></li>
            </ul>

            <form id="search_form" class="navbar-form pull-right" data-bind="submit: submitSearch">
              <input type="text" class="search-query input-middle" placeholder="foo name:hoge tag:fuga" data-bind="textInput: keyword">
                <i id="search_clear" class="icon-remove" data-bind="visible: keyword() != '', click: searchClear"></i>
            </form>

            <form id="matched_control" class="navbar-form pull-right">
              <div class="btn-group">
                <button id="prev_match" class="btn btn-inverse" data-bind="visible: is_visible_navi, click: movePrevMatch"><i class="icon-chevron-up icon-white"></i></button>
                <button id="next_match" class="btn btn-inverse" data-bind="visible: is_visible_navi, click: moveNextMatch"><i class="icon-chevron-down icon-white"></i></button>
              </div>
            </form>

            <span id="matched_count" class="navbar-text pull-right" data-bind="visible: is_visible_navi">
              <span data-bind="text: matched_index"></span>/<span data-bind="text: matched_num"></span>
            </span>
            <span id="matched_title" class="navbar-text pull-right" data-bind="visible: is_visible_navi">
              <span data-bind="text: matched_title"></span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

        <div id="blog_area" class="span8">
          <div class="dummy-space"></div>
          <div class="row-fluid" id="blog_input_area">
            <div class="span10">
              <div id="blog_input_form">
                <textarea id="blog_form" style="width: 100%; resize: vertical; height: 18px;  line-height: 18px;" rows="1" autocomplete="off" placeholder="Write here" data-bind="
                  textInput: input_text,
                  textcomplete: true,
                  autosize: true,
                  event: {keydown: function(data,event){ return keydownBlogForm(data,event,$element)}}
                "></textarea>
              </div>
            </div>
            <div class="span2">
              <button id="save_btn" class="btn btn-primary">Save</button>
            </div>
          </div>
          <ul id="blog_list" data-bind="foreach: items">
            <li data-bind="attr: {id: _id}" class="blog-body">
              <div class="alert alert-info">
                <h1 data-bind="decoBlogTitleHtml: title" class="blog-title"></h1>
                <div class="blog-header">
                  <!-- ko if: has_avatar -->
                  <span class="login-symbol" data-bind="attr: {'data-name': name, title: name}, tooltip: 'bottom'" rel="tooltip"><img class="avatar" data-bind="attr: {src: avatar}"></span> updated <span class="timestamp" data-bind="attr: {'data-livestamp':date}"></span>
                  <!-- /ko -->
                  <!-- ko ifnot: has_avatar -->
                  <strong data-bind="text: name"></strong> updated <span data-bind="attr: {'data-livestamp':date}"></span>
                  <!-- /ko -->
                  <a class="edit-blog" data-bind="attr: {href:'blog?id=' + _id() + '&edit=true'}"><i class="icon-pencil"></i></a>
                  <span class="remove-blog" data-bind="click: $parent.destroy"><i class="icon-trash"></i></span>
                  <button class="btn btn-mini clip" style="margin-left: 10px" data-bind="attr: {'data-clipboard-text': copy_title()}">Copy Title and URL</button>
                  <a class="btn btn-mini " data-bind="attr: {href:'blog?id=' + _id()}" target="_blank"> Permalink</a>
                </div>
              </div>
              <pre class="text-base-style" data-bind="visible: !editing()"><div class="code-out" data-bind="decoBlogHtml: text"></div></pre>
              <div class="edit-form" data-bind="visible: editing()" style="display: none">
                <div>
                  <textarea class="edit-area" data-bind="
                    textInput: text,
                    textcomplete: true,
                    hasFocus: editing(),
                    autofit: true,
                    editStartTextarea: editing(),
                    event: {keydown: function(data,event){ return $parent.keydownEditing(data,event,$element)}},
                  "></textarea>
                </div>
                <div class="blog-action">
                  <button class="btn btn-info btn-mini update-notify-blog" data-bind="click: $parent.updateWithNotify">Update and notify</button>
                  <button class="btn btn-info update-blog" data-bind="click: $parent.update">Update</button>
                  <button class="btn btn-default cancel-edit" data-bind="click: $parent.cancel">Cancel</button>
                </div>
              </div>
            </li>
          </ul>
          <div class="dummy-space"></div>
        </div>

        <div id="index_area" class="span4">
          <div class="dummy-space"></div>
          <div class="row-fluid">
            <ul id="index_list" data-bind="foreach: items" class="nav nav-tabs nav-stacked">
              <li class="index-body">
                <a class="index-body-link" href="#" data-bind="
                  click: $parent.selectIndex,
                  attr: {'data-id': _id}">
                  <div class="share-memo-title">
                    <!-- ko if: matched -->
                    <span class="label label-important" data-bind="text: matched"></span>
                    <!-- /ko -->
                    <span data-bind="decoBlogTitleHtml: title"></span>
                  </div>

                  <!-- ko if: indexes() && indexes().length -->
                  <i class="icon-align-left indexes-link"></i>
                  <!-- /ko -->

                  <div class="writer">
                    <!-- ko if: has_avatar -->
                    <span class="login-symbol" data-bind="attr: {'data-name': name, title: name}, tooltip: 'left'" rel="tooltip"><img class="avatar" data-bind="attr: {src: avatar}"></span> - <span class="timestamp" data-bind="attr: {'data-livestamp': date}"></span>
                    <!-- /ko -->
                    <!-- ko ifnot: has_avatar -->
                      <span data-bind="text: name"></span> - <span class="timestamp" data-bind="attr: {'data-livestamp': date}"></span>
                    <!-- /ko -->
                  </div>
                </a>
                <ul class="index-ul" data-bind="foreach: indexes, attr: {'data-id': _id}, visible: display_indexes">
                  <li>
                    <a class="index-li">
                      <div data-bind="
                        css: index_class,
                        decoMemoIndex: body,
                        click: $root.selectIndexHeader.bind($data,42)">
                      </div>
                    </a>
                  </li>

                </ul>
              </li>
            </ul>
            <div id="load_more_from_index"></div>
            <div class="dummy-space"></div>
          </div>
        </div>

      </div>
    </div>


    <!-- modal -->
    <div id="tags_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Tags</h3>
      </div>
      <div class="modal-body">
        <div id="tag_list" data-bind="foreach: tags">
          <span class="tag-name label" data-bind="attr: {'data-tag': tag_name}, click: $parent.selectTag">
            <span data-bind="text: tag_name"></span> (<span data-bind="text: count"></span>)
          </span>
        </div>
      </div>
    </div>

    <div id="share_memo_pre_tmp"></div>

  </body>
</html>


