<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DevHub</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <meta name="description" content="DevHub">
    <meta name="author" content="Naoki Kodama">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/blog.min.js"></script>
    <link href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/blog.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body style=":
    background-color: #EEE;
    background-attachment: fixed;
    background-position: center top;
    background-repeat:  repeat;
    padding-top: 60px;">

    <div id="loading">
      <img src="img/blog_loader.gif" >
    </div>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">DevHub - <span id="blog_count"></span></a>
          <div id="blog_navi"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div id="index_area" class="span4">
          <div class="dummy-space"></div>
          <div class="row-fluid">
            <ul id="index_list" class="nav nav-tabs nav-stacked"></ul>
            <div id="load_more_from_index"></div>
            <div class="dummy-space"></div>
          </div>
        </div>

        <div id="blog_area" class="span8">
          <div class="dummy-space"></div>
          <div class="row-fluid" id="blog_input_area">
            <div class="span10">
              <div id="blog_input_form"></div>
            </div>
            <div class="span2">
              <button id="save_btn" class="btn btn-primary btn-large">Save</button>
            </div>
          </div>
          <ul id="blog_list"></ul>
          <div class="dummy-space"></div>
        </div>
      </div>
    </div>

    <!-- JsRender Templates -->
    <script id="blogNaviTmpl" type="text/x-jsrender">
      <ul class="nav pull-right">
        <li><a id="scroll_top" href="#"><i class="icon-white icon-arrow-up"></i></a></li>
      </ul>

      <form id="search_form" class="navbar-form pull-right">
        <input type="text" class="search-query input-small" placeholder="foo name:hoge" data-link="keyword">
      </form>

      <form id="matched_control" class="navbar-form pull-right">
        <div class="btn-group">
          <button id="prev_match" class="btn btn-inverse" data-link="style{>matched_navi_style}"><i class="icon-chevron-up icon-white"></i></button>
          <button id="next_match" class="btn btn-inverse" data-link="style{>matched_navi_style}"><i class="icon-chevron-down icon-white"></i></button>
        </div>
      </form>

      <span id="matched_count" class="navbar-text pull-right" data-link="style{>matched_navi_style}">
        <span data-link="matched_index"></span>/<span data-link="matched_num"></span>
      </span>
      <span id="matched_title" class="navbar-text pull-right" data-link="style{>matched_navi_style}">
        <span data-link="matched_title"></span>
      </span>
    </script>

    <script id="blogInputTmpl" type="text/x-jsrender">
      <textarea id="blog_form" class="textarea-small" placeholder="Paste here" data-link="input_text"></textarea>
    </script>

    <script id="blogCountTmpl" type="text/x-jsrender">
      <span class="count" data-link="item_count"></span><span class="unit"> blogs.</span>
    </script>

    <script id="blogBodyTmpl" type="text/x-jsrender">
      <li id="{{:_id}}" class="blog-body">
        <div class="blog-header">
          <strong data-link="name"></strong> updated <span data-livestamp="{{:date}}"></span>
          <div style="float: right">
            <span class="edit-blog"><i class="icon-pencil"></i></span> <span class="remove-blog"><i class="icon-remove"></i></span>
            <a href="blog?id={{:_id}}" target="_blank"> Permalink</a>
          </div>
        </div>
        <pre class="text-base-style"><div class="code-out"></div></pre>
        <div class="edit-form" style="display: none">
          <div>
            <textarea class="edit-area" data-link="text"></textarea>
          </div>
          <div class="blog-action">
            <button class="btn btn-info btn-mini update-notify-blog">Update and notify</button>
            <button class="btn btn-info update-blog">Update</button>
            <button class="btn btn-default cancel-edit">Cancel</button>
          </div>
        </div>
      </li>
    </script>

    <script id="blogIndexTmpl" type="text/x-jsrender">
      <li class="index-body">
        <a class="index-body-link" href="#" data-id="{{:_id}}">
          <div class="share-memo-title">
            {^{if matched}}<span class="label label-important">{^{:matched}}</span>{{/if}}
            {^{:title}}
          </div>

          {^{if indexes && indexes.length}}
          <i class="icon-align-left indexes-link"></i>
          {{/if}}

          <div class="writer">
            {^{:name}} - <span class="timestamp" data-livestamp="{{:date}}"></span>
         </div>
        </a>
        <ul class="index-ul" data-id="{{:_id}}" data-link="style{>display_indexes}">
          {^{for indexes}}
            <li><a class="index-li" href="#">{^{:header}}</a></li>
          {{/for}}
        </ul>
      </li>
    </script>

    <div id="share_memo_pre_tmp"></div>
  </body>
</html>


