<html>
  <head>
    <title>DevHub</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("jquery", "1.4.4");</script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/client.js"></script>
    <script type="text/javascript" src="/js/suggest.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <link href="/stylesheets/devhub.css" media="screen" rel="stylesheet" type="text/css" />

<script type="text/javascript">
$(function() {
  // common
  var socket = io.connect('/');

  init_websocket(socket);    

  $('#name').val($.cookie("dev_hub_name"));

  $('#sequence_button').click(function(){ 
    $('#sequence').slideToggle(); 
  });
});
</script>
  </head>

  <body>
    <div id="wrapper">
    <h2>DevHub</h2>
    <div id="chat">
      <form id="form">
        <div>
          <div id="login_list" style="display:none"></div>
        </div>

        <input type="text" name="name" id="name" size="3" />
        <input type="text" name="message" id="message" size="40" autocomplete="off" />
        <input type="submit" value="Send" />
        <button id="pomo">Pomo</button>
        <div id="suggest" style="display: none;"></div>
      </form>
      <div id="chat_body">
        <ul id="list"></ul>
      </div>
    </div>
 
    <div id="editor">
      <button id="sequence_button">SequenceChat show/hide</button>
      <div id="sequence"></div>

      <textarea id="code"></textarea>
      <button id="copy_text">Sync</button>
      <textarea readonly id="code_out"></textarea>
    </div>
    <div style="clear: both;"/>
    </div>

  </body>
  <script type="text/javascript" src="http://www.websequencediagrams.com/service.js"></script>
</html>


