<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DevHub <%= title_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
    <script type="text/javascript" src="/javascripts/suggest.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <link href="/stylesheets/devhub.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/emolett.css" media="screen" rel="stylesheet" type="text/css" />
    <link id="devhub-style" href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body id="body-main" style="padding-top: 50px">
    <div class="modal hide" id="name_in">
      <div class="modal-header">
        <h3>DevHub</h3>
      </div>
      <div class="modal-body">
        <p>Please type your name.</p>
        <form id="login_form">
          <input type="text" id="login_name" class="span2" placeholder="Name"/>
        </form>
      </div>
      <div class="modal-footer">
        <button id="login" class="btn btn-primary">Login</button>
      </div>
    </div>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">DevHub <%= title_name %></a>
          <ul class="nav">
            <li class="active">
            </li>
            <li class="dropdown">
              <a href="#"
                 class="dropdown-toggle"
                 data-toggle="dropdown">
                 Style 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a onclick="change_style('bootstrap.min.css');return false;" href="#">default</a></li>
                <li><a onclick="change_style('bootstrap.journal.css');return false;" href="#">journal</a></li>
                <li><a onclick="change_style('bootstrap.united.css');return false;" href="#">united</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span5">
          <img id="login_list_loader" src="/img/loader.gif"/>
          <div id="login_list" style="display:none"></div>
          <form id="form" class="form-inline">
            <input type="text" name="name" id="name" class="span1" placeholder="Name"/>
            <input type="text" name="message" id="message" class="span4" autocomplete="off" placeholder="Message"/>
            <input type="submit" value="Send" class="btn btn-small btn-primary"/>
            <span id="pomo" class="btn btn-small btn-warning">Pomo</span>
            <div id="suggest" style="display: none;"></div>
          </form>
          <div id="chat_body" class="well">
            <ul id="list"></ul>
          </div>
        </div>

        <div class="span7">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active"><a id="share-memo-tab" href="#share-memo" data-toggle="tab">ShareMemo</a></li>
              <li><a href="#auto-logs" data-toggle="tab">History</a></li>
              <li><a href="#favo-logs" data-toggle="tab">Favorite</a></li>
            </ul>

            <div class="tab-content">
              <div id="share-memo" class="tab-pane active">
                <div class="tabbable">
                  <ul class="nav nav-tabs">
                    <li class="active"><a id="share-memo-1" href="#share-memo-1" data-toggle="tab">1</a></li>
                    <li><a id="share-memo-2" href="#share-memo-1" data-toggle="tab">2</a></li>
                    <li><a id="share-memo-3" href="#share-memo-1" data-toggle="tab">3</a></li>
                  </ul>

                  <div class="tab-content">
                    <div id="share-memo-1" class="tab-pane active">
                      <button id="sync_text" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</button>
                      <button id="suspend_text" class="btn"><i class="icon-pencil"></i> New</button>
                      <button id="fix_text" class="btn btn-info" style="display:none"><i class="icon-edit icon-white"></i> Done</button>
                      <span id="text_writer" class="label label-info"></span>
                      <span id="update_log_notify" class="label label-success" style="display: none;">updated History</span>
                      <textarea id="code" class="code-unselect" style="display: none" placeholder="Write here"></textarea>
                      <pre id="code_out"></pre>
                    </div>
                    <div id="share-memo-2" class="tab-pane">
                      <button id="sync_text" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</button>
                      <button id="suspend_text" class="btn"><i class="icon-pencil"></i> New</button>
                      <button id="fix_text" class="btn btn-info" style="display:none"><i class="icon-edit icon-white"></i> Done</button>
                      <span id="text_writer" class="label label-info"></span>
                      <span id="update_log_notify" class="label label-success" style="display: none;">updated History</span>
                      <textarea id="code" class="code-unselect" style="display: none" placeholder="Write here"></textarea>
                      <pre id="code_out"></pre>
                    </div>
                    <div id="share-memo-3" class="tab-pane">
                      <button id="sync_text" class="btn btn-primary"><i class="icon-edit icon-white"></i> Edit</button>
                      <button id="suspend_text" class="btn"><i class="icon-pencil"></i> New</button>
                      <button id="fix_text" class="btn btn-info" style="display:none"><i class="icon-edit icon-white"></i> Done</button>
                      <span id="text_writer" class="label label-info"></span>
                      <span id="update_log_notify" class="label label-success" style="display: none;">updated History</span>
                      <textarea id="code" class="code-unselect" style="display: none" placeholder="Write here"></textarea>
                      <pre id="code_out"></pre>
                    </div>
                  </div>
                </div>
              </div>

              <div id="auto-logs" class="tab-pane">
                <div id="current_log"></div>
                <div id="history_logs"></div>
              </div>

              <div id="favo-logs" class="tab-pane">
                <div id="favo_logs"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <footer>
    <span>
    © 2012 Naoki KODAMA. All rights reserved.
    </span>
  </footer>

  </body>
</html>


