<!DOCTYPE html>
<html>
  <head>
    <title>Hello React</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/react/style.css" />
  </head>
  <body>
    <div id="content"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/react/dist/app.js"></script>
  </body>
</html>
