body{
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  width : 100%;
  margin : 0px;
  background-color: #FFF;
}

.perfect-scrollbar-body-style {
  overflow : hidden;
}

.perfect-scrollbar-style {
  position : absolute;
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}

#search_form {
  position: relative;
}

#search_clear {
  width: 13px;
  height: 13px;
  position: absolute;
  right: 7px;
  top: 12px;
  cursor: pointer;
}

#blog_input_area {
  padding: 10px 10px 0 10px;

}

#tags_area {
  height: 100%;
  top: 0px;
  left: 10px;
  width: 10%;
}

#index_area {
  height: 100%;
  top: 0px;
  left: 10%;
  margin-left: 0px;
  width: 25%;
}

#blog_area {
  height: 100%;
  top: 0px;
  left: 34.5%;
  margin-left: 0px;
  width: 65%;
}

#tag_filter_div {
  width: 100%;
  padding: 0 14px 0 5px;
  box-sizing: border-box;
}

#tag_filter_div > input {
  box-sizing:border-box;
  width: 100%;
  height: 22px;
  margin: 0 0 5px 0;
}
 
#tags_list {
  padding-right: 10px;
}

#index_list {
  padding-left: 10px;
  padding-right: 10px;
}

.index-body a{
  min-height: 50px;
  border: 1px solid #ddd !important;
  background-color: #fafafa;
}

.index-header {
  color: #777;
  padding: 4px 8px 0px 8px;
}

.indexes-link {
  margin: 4px;
  float: right;
}

.share-memo-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #555;
  line-height: 24px;
  padding-bottom: 2px;
}

.writer {
  color: #BBB;
  margin: 8px 0px 4px 0px;
  font-size: 12px;
  float: right;
}

.timestamp {
  font-size: 10px;
}

.dummy-space {
  height: 50px;
}

a, a:hover {
  color: #4078c0;
}

#matched_control {
  margin-right: 5px;
  margin-left: 5px;
}

#matched_count {
  font-size: 14pt;
}

.matched_line {
  background-color: #FFFDBF !important;
}

.matched_strong_line {
  background-color: yellow !important;
}

#matched_title {
  font-size: 12pt;
  margin-left: 5px;
}

.blog-title {
  color: #3a87ad;
}

#blog_count {
  margin-top: 14px;
  margin-left: 5px;
  margin-bottom: 6px;
}

#blog_count .count {
  font-size: 16pt;
  font-weight: bold;
  display: inline-block;
  min-width: 50px;
  text-align: right;
}

#blog_count .unit {
  font-size: 14pt;
}

#blog_list {
  margin: 0;
  padding: 0 10px 10px 10px;
  list-style-type: none;
}

#blog_list > li {
  margin-bottom: 30px;
}

.cancel-edit,
.update-blog {
  float: right;
  margin-left: 5px;
}

.update-notify-blog {
  position: absolute;
  bottom: 0;
}

.blog-action {
  position: relative;
}

.blog-action:before {
  display: table;
  content: "";
}

.blog-action:after {
  display: table;
  clear: both;
  content: "";
}

.text-base-style, .edit-form {
  background-color: #fff;
}

pre.text-base-style {
  border: 0px;
  padding: 14px 0px;
}

.code-out {
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  width: 100%;
  margin-top: 0px;
  font-size: 15px;
  line-height: 160%;
}

.code-out > table{
  width: 100%;
  border-collapse: separate;
}

.code-out > table tr{
  height: 21px;
}

.code-out h1,
.code-out h2,
.code-out h3{
  margin: 0 0 0px;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  cursor: text;
  position: relative;
}

.code-out h1{
  font-size: 2.2em;
  border-bottom: 1px solid #ddd;
}

.code-out h2 {
  font-size: 1.7em;
  border-bottom: 1px solid #eee;
}

.code-out h3 {
  font-size: 1.4em;
}

.code-out h4 {
  font-size: 1.2em;
}

.code-table {
  width: initial;
  margin: 5px 0;
}

.code-out-pre-td {
  background-color: #f7f7f7;
  border-right: solid 0px #ccc;
  border-left: solid 0px #ccc;
}

.code-out-pre-top-td {
  padding-top: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;

  border-top: solid 0px #ccc;
}

.code-out-pre-bottom-td {
  padding-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;

  border-bottom: solid 0px #ccc;
}

.code-out-pre {
  font-family: Menlo,Monaco,"Courier New",monospace;
  margin-left: 12px;
  margin-right: 12px;
}

.code-out-pre-tr {
  height: 6px !important;
}

.header-tr {
  line-height: 0.2 !important;
}

.checkbox-draggable {
  margin: 0 0 0 -1.6em !important;
}

.checkbox-draggable-td {
  padding-left: 26px;
  padding-right: 26px;
}

.drag-handle-td {
  width: 16px;
}

.drag-handle {
  cursor: row-resize;
  display: none;
}

.delete-task {
  float: right;
  margin-right: 4px;
  display: none;
}

.diff-view {
  min-height: 700px;
}

.thumbnail {
  display: inline-block !important;
  margin-right: 7px;

}

.textcomplete-wrapper {
  width: 100%;
}

.emoji-suggest {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-bottom: -0.3em;
}

.emoji {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-bottom: 0.2em;
}

.input-task {
  background-color: #fafafa;
}

#blog_form {
  width: 100%;
  background-color: #f0f8ff;
}

.textarea-small {
  height: 30px;
}

.textarea-large {
  height: 300px;
}

.edit-form {
  padding: 8px;
  margin-bottom: 9px;
}

.edit-area {
  font-family: Menlo,Monaco,"Courier New",monospace;
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  width: 100%;
  display: block;
  padding: 8px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.blog-header {
  color: #777;
  padding: 4px 8px;
}

.header-level-1 {
  margin-left: 10px;
  margin-right: 10px;
}
.header-level-2 {
  margin-left: 22px;
  margin-right: 10px;
}
.header-level-3 {
  margin-left: 34px;
  margin-right: 10px;
}
.header-level-4 {
  margin-left: 46px;
  margin-right: 10px;
}
.header-level-5 {
  margin-left: 58px;
  margin-right: 10px;
}
.header-level-6 {
  margin-left: 70px;
  margin-right: 10px;
}

.list-ul {
  margin-bottom: 2px;
}

.list-ul-1 {
  list-style-type: disc;
}

.list-ul-2 {
  list-style-type: circle;
}

.list-ul-3 {
  list-style-type: square;
}

.hide-mark {
  list-style: none;
  margin-bottom: 2px;
}

.edit-blog {
  margin-left: 10px;
}

.ref-point,
.edit-blog,
.remove-blog {
  cursor: pointer;
}

hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

#loading {
  width: 78px; /* gif画像の幅 */
  height: 78px; /* gif画像の高さ */
  margin: -78px 0 0 -78px; /* gif画像を画面中央に */
  padding: 20px; /* gif画像を大きく */
  background: #CCCCCC; /* gif画像の背景色 */
  opacity: 0.5; /* 透過させる */
  border-radius: 15px; /* 丸角 */
  position: fixed; /* gif画像をスクロールさせない */
  left: 50%; /* gif画像を画面横中央へ */
  top: 50%; /* gif画像を画面縦中央へ */
  z-index: 100;
}

/* for bootstrap */
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.index-ul {
  padding: 8px 0px;
  margin: 0 0 4px 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.index-ul a {
  display: block;
  color: #555555;
  padding: 3px 0;
  text-decoration: none;
  min-height: 0px;
  border: 0px !important;
  background-color: white;
}

.index-ul a:hover {
  background-color: #0088cc !important;
}

.index-li {
  cursor: pointer;
}

.index-li h1 {
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
}

.index-li h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
}

.index-li h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
}

.index-li h4,
.index-li h5,
.index-li h6
{
  font-size: 12px;
  font-weight: normal;
  line-height: 17px;
}


.avatar {
  padding: 1px;
  background: #fff;
  width: 24px;
  height: 24px;
  border: 1px solid #ddd;
  border-radius: 4px;
  vertical-align: bottom;
}

.tag-name {
  margin: 0px 2px;
  cursor: pointer;
  padding: 5px !important;
}

.tag-li {
  margin: 0px 2px;
  cursor: pointer;
  padding: 2px !important;
}

.tag-name-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.tag-count {
  float: right;
}

#tag_list .tag-name {
  display: inline-block;
  margin: 3px 1px;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.win-path {
  cursor: pointer;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 12px;
}

.inline-code {
  font-family: Menlo,Monaco,"Courier New",monospace;
  background-color: #f7f7f7;
  border: 0px solid #ccc;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 12px;
}

