body{
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

  width : 100%;
  margin : 0px;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.chat-fixed {
  position: fixed;
  z-index: 99;
}

.chat-control {
  background-color: white;
}

#chat_nav{
  background-color: #fafafa;
}

.perfect-scrollbar-body-style {
  overflow : hidden;
}

#loading {
  width: 78px; /* gif画像の幅 */
  height: 78px; /* gif画像の高さ */
  margin: -78px 0 0 -78px; /* gif画像を画面中央に */
  padding: 20px; /* gif画像を大きく */
  background: #CCCCCC; /* gif画像の背景色 */
  opacity: 0.5; /* 透過させる */
  border-radius: 15px; /* 丸角 */
  position: fixed; /* gif画像をスクロールさせない */
  left: 50%; /* gif画像を画面横中央へ */
  top: 50%; /* gif画像を画面縦中央へ */
  display: none;
}

#login_list_loader, #message_loader {
  margin: 4px 0px 0px 4px;
}

#search_form {
  position: relative;
}

#search_clear {
  display: none;
  width: 13px;
  height: 13px;
  position: absolute;
  right: 7px;
  top: 12px;
  cursor: pointer;
}

#matched_control {
  margin-right: 5px;
  margin-left: 5px;
}

.matched_line {
  background-color: #FFFDBF !important;
}

.matched_strong_line {
  background-color: yellow !important;
}

#chat_area{
  height : 100%;
  top : 0px;
  left : 14px;
}

.perfect-scrollbar-style {
  position : absolute;
  overflow: hidden;
}

.memo-area{
  height : 100%;
  top : 0px;
  left: 39%;
}

.memo-area-zen{
  height : 100%;
  top : 0px;
  left : 0px;
  margin-left: 0px !important;
  position : absolute;
  overflow: hidden;
}

.memo-alert {
  color: #3a87ad !important;
}

.area-inner {
  margin-right: 14px;
  margin-left: 14px;
}

#calendar_inner, #index_inner {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dummy-top-space {
  height: 40px;
}

a, a:hover {
  color: #4078c0;
}

#mention_own_alert,
#mention_alert,
#filter_name_alert,
#filter_word_alert{
  margin-bottom: 4px !important;
}

.normal_msg {
  color: #3f3836;
}

.msg_ext {
  color: #aaa;
}

.msg_pomo {
  color: orange;
}

.unread-msg {
  font-weight: bold !important;
}

.date,
.target_msg_date,
.room_msg_date,
.own_msg_date
{
  float: right;
  font-size: 10px;
}

.date {
  color: #ccc;
  margin-right: 14px;
}

.target_msg_date {
  color: #d8cbcc;
  margin-right: 14px;
}

.room_msg_date {
  color: #dfcbad;
  margin-right: 14px;
}

.own_msg_date {
  color: #c0dFdF;
}

#suggest {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #CCCCFF;
  width: 252px;
}

#suggest div {
  padding: 1px;
  display: block;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
}

#suggest div.select{
  color: #FFFFFF;
  background-color: #3366FF;
}

#suggest div.over{
  background-color: #99CCFF;
}

#sequence {
  width: 100%;
  background-color: #fff;
  margin-bottom: 5px;
}

#share-memo {
  padding-top: 10px;
}

.share-memo pre {
  margin-top: 2px;
  line-height: 0;
  padding: 14px 0px;
}

.share-memo-tab-elem {
  width: 72px;
  height: 50px;
  border: 1px solid #ddd;
  background-color: #fafafa;
}

.share-memo-title ,
.share-memo-tab-elem .writer{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 72px;
  display: inline-block;
  vertical-align: top;
}

#hide_index{
  margin: 3px;
}

.memo-control {
  background-color: white;
  padding: 5px 0;
}

.sync-text, .fix-text, .diff-done, .diff-button, .wip-jump {
  margin-right: 5px !important;
}

.index-ul {
  padding: 8px 0px;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.index-ul a {
  display: block;
  color: #555555;
  padding: 3px 0;
  text-decoration: none;
}

.index-ul a:hover {
  background-color: #0088cc;
}

.index-li h1 {
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
}

.index-li h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
}

.index-li h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
}

.index-li h4,
.index-li h5,
.index-li h6
{
  font-size: 12px;
  font-weight: normal;
  line-height: 17px;
}

.current-index {
  background-color: #efefef;
}

.header-level-1 {
  margin-left: 10px;
  margin-right: 10px;
}
.header-level-2 {
  margin-left: 22px;
  margin-right: 10px;
}
.header-level-3 {
  margin-left: 34px;
  margin-right: 10px;
}
.header-level-4 {
  margin-left: 46px;
  margin-right: 10px;
}
.header-level-5 {
  margin-left: 58px;
  margin-right: 10px;
}
.header-level-6 {
  margin-left: 70px;
  margin-right: 10px;
}

.list-ul {
  margin-bottom: 2px;
}

.text-base-style {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.code-out-base {
  background-color: #fff;
  border: 0px solid rgba(0, 0, 0, 0.1);
}

.checkbox-draggable {
  margin: 0 0 0 -1.6em !important;
}

.checkbox-draggable-td {
  padding-left: 26px;
  padding-right: 26px;
}

.draggable-tr:hover {
  background: #fafafa;
}

.draggable-tr:hover > .drag-handle-td > .drag-handle {
  display: block;
}

.draggable-tr:hover > td > .delete-task {
  display: block;
}

.drag-handle-td {
  width: 16px;
}

.drag-handle {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  display: none;
}

.grabbing {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.text-highlight {
  background-color: yellow;
}

.move-to-blog {
  opacity: 0.8;
  position: fixed;
  bottom: 50%;
  right: 50px;
}

#diff_controller {
  opacity: 0.8;
  position: fixed;
  bottom: 50%;
  right: 50px;
}

#diff_done {
  padding-top: 5px;
}

.code {
  font-family: Menlo,Monaco,"Courier New",monospace;
  font-size: 14px;
  line-height: 23px;
  color: #333333;
  width: 93%;
  height: 700px;
  padding: 14px;
  background-color: #fff;
  margin-top: 2px;
  margin-bottom: 2px;
}

.code-out,.diff-view {
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  width: 100%;
  min-height: 700px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 21px;
}

.code-out > table,.diff-view > table {
  width: 100%;
  border-collapse: separate;
}

.code-out > table tr,.diff-view > table tr {
  height: 21px;
}

.code-out h1,
.code-out h2,
.code-out h3,
.diff-view h1,
.diff-view h2,
.diff-view h3
{
  margin: 0 0 0px;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  cursor: text;
  position: relative;
}

.code-out h1,
.diff-view h1{
  font-size: 2.2em;
  border-bottom: 1px solid #ddd;
}

.code-out h2,
.diff-view h2 {
  font-size: 1.7em;
  border-bottom: 1px solid #eee;
}

.code-out h3,
.diff-view h3 {
  font-size: 1.4em;
}

.code-out h4,
.diff-view h4 {
  font-size: 1.2em;
}

.code-table {
  width: initial;
  margin: 5px 0;
}

.code-out-pre-td {
  background-color: #f7f7f7;
  border-right: solid 0px #ccc;
  border-left: solid 0px #ccc;
}

.code-out-pre-top-td {
  padding-top: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;

  border-top: solid 0px #ccc;
}

.code-out-pre-bottom-td {
  padding-bottom: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;

  border-bottom: solid 0px #ccc;
}

.code-out-pre {
  font-family: Menlo,Monaco,"Courier New",monospace;
  margin-left: 12px;
  margin-right: 12px;
}

.code-out-pre-tr {
  height: 6px !important;
}

.header-tr {
  line-height: 0.2 !important;
}

.draggable-placeholder {
  background-color: beige !important;
}

.delete-task {
  float: right;
  margin-right: 4px;
  display: none;
  margin: 0 -1.4em 0 0 !important;
}

.diff-view {
  min-height: 700px;
}

.today-diff-list {
  color: red !important;
}

.thumbnail {
  display: inline-block !important;
  margin-right: 7px;
  background-color: white;
}

.textcomplete-wrapper {
  width: 100%;
}

.emoji-suggest {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-bottom: -0.3em;
}

#name, #message, .input-task {
  background-color: #fafafa;
}

#name:focus, #message:focus, .input-task:focus {
  background-color: white;
}

.client-command {
  background-color: black !important;
  color: white;
}

.avatar {
  padding: 1px;
  background: #fff;
  width: 24px;
  height: 24px;
  border: 1px solid #ddd;
  border-radius: 4px;
  vertical-align: bottom;
}

#form {
  margin: 2px 0px 6px 0px;
}

#form td {
  vertical-align: bottom;
}

#chat_body{
  min-height: 620px;
  padding: 0px;
  overflow-y: auto;
  margin-bottom: 70px;
}

.chat-list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.chat-list li{
  line-height: 20px;
  margin: 0px;
  padding: 3px 2px;
  border-bottom: 1px solid #eee;
}

.chat-tab-elem {
  cursor: pointer !important;
  padding-right: 8px !important;
  padding-left: 8px !important;
  min-width: 30px;
  text-align: center;
}

.msg_text{
  margin-left: 2px;
  word-break: break-all;
}

.target_msg{
  background-color: #f8ebec;
  color: #c1454f;
}

.room_msg{
  background-color: #ffebcd;
  color: #d2691e;
}

.own_msg{
  background-color: lightcyan;
  color: #336699;
}

#login_own {
  margin-right: 4px;
}

#login_list {
  width: 100%;
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.login-name-base,
.login-elem{
  font-weight: bold;
  font-size: 12px;
  padding: 4px 5px;
  border-radius: 4px;        /* CSS3草案 */
  -webkit-border-radius: 4px;    /* Safari,Google Chrome用 */
  -moz-border-radius: 4px;   /* Firefox用 */
  color: white;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}

.login-symbol {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.login-symbol:hover {
  border: solid 1px Transparent;
}


.login-name{
  background-color: lightsteelblue;
}

.login-name0{
  background-color: #999;
}

.login-name1{
  background-color: #2e8b57;
}

.login-name2{
  background-color: #aa4f37;
}

.login-name3{
  background-color: #a52a2a;
}

.login-name4{
  background-color: #bc763c;
}

.login-name5{
  background-color: #26499d;
}

.login-name6{
  background-color: #c89932;
}

.login-name7{
  background-color: #69821b;
}

.login-name8{
  background-color: #522886;
}

.login-name9{
  background-color: #866629;
}

.login-name-pomo{
  background-color: tomato;
}

.login-name-pomosys{
  color: #baa;
  background-color: mistyrose;
}

.login-name-system{
  color: #baa;
  background: -webkit-gradient(linear, left top, left bottom, from(ghostwhite), to(gainsboro));
  background: -moz-linear-gradient(top, ghostwhite,gainsboro);
}

.login-name-ext{
  color: #baa;
  background-color: lightgreen;
}

.target-me,
.target-room,
.target-other
{
  background-color: white;
  font-size: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1px 2px;
}

.target-me {
  border: 1px solid #c1454f;
  color: #c1454f;
}

.target-room {
  border: 1px solid #d2691e;
  color: #d2691e;
}

.target-other{
  border: 1px solid #369;
  color: #369;
}

.pomo-min{
  color: mintcream;
}

.update-log-notify {
  margin: 6px 0px 4px 5px;
}

.text-date {
  float: left;
  color: #BBB;
  margin: 10px 0px 0 10px;
}

.checkbox-count {
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #b7282e;
  margin: 10px 0px 0 20px;
}

.checkbox-count-done {
  color: #228b22;
}

.memo-bytes {
  float: left;
  color: #BBB;
  margin: 10px 0 0 15px;
}


.remove_text {
  margin: 0 5px 0 0;
  float: right;
  color: gray;
  font-size: 16px;
}

.remove_text:hover {
  color: red;
}

.remove-area {
  width: 20px !important;
}

.remove_msg {
  margin: 0 3px 0 5px;
  color: gray;
  font-size: 12px;
  float: right;
  cursor: pointer;
}

.remove_msg:hover {
  color: red;
}

#history_logs dt, #current_log dt{
  margin: 0px 0px 2px 4px;
}

.silent-name {
  color: #BBB;
  margin: 4px 0px 0px 10px;
  font-size: 12px;
}

.writing-name {
  color: red !important;
}

.timestamp {
  color: #BBB;
  margin: 4px 0px 0px 20px;
  font-size: 10px;
}

.emoji {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-bottom: 0.2em;
}

.ref-point {
  cursor: pointer;
}

hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

footer {
  width: 100%;
  margin-top: 4px;
  padding: 0px 0;
  text-align: right;
  margin-bottom: 20px;
}

footer span {
  display: block;
  margin-right: 30px;
  color: #888;
  font-size: 12px;
}


#chat_nav,
#share_memo_nav{
  margin-bottom: 4px !important;
}

.label {
  font-size: 13px;
  font-weight: normal;
}

.sync-text.btn {
  width: 71px;
}

.fix-text.btn {
  width: 71px;
}

.text-date.label{
  margin: 3px 0px 0px 0px;
  display: inline-block;
}

/* for bootstrap */
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal {
  max-height: 800px;
}

.nav-tabs>li {
  margin: 3px 0px -1px 3px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover {
  color: #333;
  border-color: #D2690C #e5e5e5 transparent;
  border-width: 3px 1px 1px 1px;
}

.nav-tabs>li>a {
  color: #555;
  border-width: 3px 1px 1px 1px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.nav-pills>li>a {
  color: #555;
  padding-top: 10px;
  border-width: 1px 1px 1px 1px;
}

.nav-pills .active>a, .nav-pills .active>a:hover {
  color: #333;
  background-color: white;
  padding-top: 8px;
  border-width: 3px 1px 1px 1px;
  border-color: #D2690C #e5e5e5 #e5e5e5 #e5e5e5;
}

.tabs-left .nav-tabs .active>a, .tabs-left .nav-tabs .active>a:hover {
  border-color: #e5e5e5 transparent #e5e5e5  #D2690C;
  border-width: 1px 1px 1px 3px;
}

.tabs-left .nav-tabs {
  background-color: #fafafa;
}

.fc-toolbar {
  margin-bottom: 0;
}

.fc-content {
  padding: 1px;
  cursor: pointer;
}

.win-path {
  cursor: pointer;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 12px;
}

@media (max-width: 767px) {
  .modal.fade.in {
    top: 20px;
  }

  .modal {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    width: auto;
    margin: 0;
  }
}

